<div class="row">
  <div class="col-xxl-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Dashboard</a></li>
      </ol>
    </nav>
</div>

  <div class="col-xxl-3">
      <nb-card class="pb-c-12">
          <nb-card-header class="pb-0">
            Seleccione baseline 
          </nb-card-header>
          <nb-card-body>
    
            <!-- Baseline List Select-->
            <div class="input-group mb-3">
              <select class="form-control" placeholder="Seleccione Baseline" id="inputGroupSelect01" [(ngModel)]="baselines">
                <!--<option [ngValue]="null">Seleccione Baseline</option> -->
                <option *ngFor="let baseline of baselinesList" [ngValue]= "baseline">{{ baseline.baseline_name }}</option>
              </select>
            </div>
             <!-- Baseline List Select -->      
            <!-- Mo & Paramts Select with autocomplete list -->
            <div class="input-group mb-3">
              <label class="form-control col-3" >
                MO          
              </label>
              <input type="text" class="form-control" placeholder="Buscar..." (selectItem)="updateTree($event.item)"
                [ngbTypeahead]="searchConditionally" [resultFormatter]="formatter" [inputFormatter]="formatter" />
            </div>
             <!-- Mo & Paramts Select with autocomplete list -->
          </nb-card-body>
        </nb-card>
  <!-- Tree -->
  <!-- <div class="treeview col-xxl-3">-->
      <nb-card>
        <nb-card-header>
          Filtrado de Datos
        </nb-card-header>
        <nb-card-body>
          <ng-template #treeItemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand">
            <div (click)="treeItemSelected(item)" *ngIf="!item.hidden" class="form-inline row-item">
              <i *ngIf="item.children && item.children.length > 0" aria-hidden="true" class="fa"
                [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
              <div class="form-check">
                <label class="form-check-label" [ngClass]="{'bg-primary-er': isSelected(item)}">
                  {{item.text}}
                </label>
              </div>
            </div>
          </ng-template>
  
          <ngx-treeview [config]="treeConfig" [items]="treeNodes" [itemTemplate]="treeItemTemplate"></ngx-treeview>
        </nb-card-body>
      </nb-card>
    <!--</div>-->
    <!-- Tree --> 
    </div>   

      <!-- Tabla de Datos -->
    <div class="col-xxl-9" id="results">
        <nb-card [nbSpinner]="loadingData" nbSpinnerStatus="active" nbSpinnerSize="xxlarge" nbSpinnerMessage="Cargando...">
          <nb-card-header class="pb-0">
            <!--<div class="float-right">Total Registros: {{ totalRecords }}</div>-->
            <div class="title">Resultado de Filtrado:</div>
            <div class="sub-title">{{ tech }} / {{ mo }}</div>
            <div class="float-left">
              <button class="btn btn-primary liner mt-3" *ngIf="selectedData.length > 0" (click)="openDialogMultiUpdate(dialogMultiUpdate)">
                <i class="far fa-edit"></i> Editar Registros Seleccionados
              </button>
              <div class="mt-3 f8" *ngIf="selectedData.length > 0 && showAllDataMessage">
                {{messageSelectAll}}
                <a href="#" (click)="clickAllData($event)">{{ messageSelectAllOption }}</a>
              </div>
            </div>
            <!-- <div class="float-right">
              <select class="form-control py-0 my-0" [(ngModel)]="perPage" *ngIf="showPaginationSelect" title="Registros por Página"
                placeholder="Registros por Página">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="300">300</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div> -->
          </nb-card-header>
          <!-- *************************************************************************** -->
          <nb-card-body>
            <div id="wrapper1">
              <div id="topScroll"></div>
            </div>
            <div class="table-responsive table-home" id="wrapper2">
              <ng2-smart-table *ngIf="dataMapped" [settings]="settings" id="dashboardTable" [source]="dataMapped"
              (editConfirm) ="openConfirmDialog(dialog, $event, false)">
              <!--(editConfirm)="saveChanges($event, false)"> -->
              </ng2-smart-table>
            </div>
          </nb-card-body>
          <!-- *************************************************************************** -->
          <nb-card-footer class="text-center" [nbSpinner]="loadingDataCsv" nbSpinnerStatus="info" nbSpinnerSize="small"
                          nbSpinnerMessage="Procesando Descarga...">
          <!--<button class="btn btn-primary mx-3" (click)="openConfirmDialog(dialog)"><i class="far fa-save"></i> Guardar
              Cambios</button>
            <button class="btn btn-primary" [disabled]="!showPaginationSelect || loadingDataCsv" (click)="clickEventHandlerCsvTable($event)">
              <i class="far fa-file-pdf"></i>
              Descargar Tabla en Csv</button>-->
          </nb-card-footer> 
        </nb-card>
      </div>
      <!-- Tabla de Datos -->

    <!-- Modal Content -->
    <ng-template #dialog let-data let-ref="dialogRef">
      <nb-card>
        <form (submit)="confirmSave(ref)" [formGroup]="modalForm">
          <nb-card-header>
            Guardar cambios
          </nb-card-header>
          <nb-card-body>
            <div class="form-group">
              <label for="comentarioCambio">Comentarios</label>
              <textarea class="form-control" formControlName="comment" id="comentarioCambio" rows="3"></textarea>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton class="btn btn-primary btn-lg btn-block"><i class="far fa-save"></i>
              Guardar cambios</button>
          </nb-card-footer>
        </form>
      </nb-card>
    </ng-template>
    <!-- Modal Content -->

    <!-- Modal multiple -->
    <ng-template #dialogMultiUpdate let-data let-ref="dialogRef">
      <nb-card>
        <form (submit)="saveMultiUpdate(ref)" [formGroup]="paramForm">
          <nb-card-header>
            Editar seleccionados
          </nb-card-header>
          <nb-card-body>
            <div class="form-group">
              <label class="form-control-label" for="nombreCambio">Parámetro: <strong>{{param}}</strong></label><br>
              <!-- <label class="form-control-label" for="nombreCambio">Nuevo Valor</label> -->
              <input type="text" id="nombreCambio" formControlName="new_value" placeholder="Nuevo Valor" class="form-control">
              <nb-alert status="danger" class="tip" *ngIf="paramForm.controls.new_value.errors && (paramForm.controls.new_value.dirty 
                || paramForm.controls.new_value.touched)">
                <p>
                  <span *ngIf="paramForm.controls.new_value.errors.required">Debe indicar un valor. </span>
                </p>
              </nb-alert>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton class="btn btn-primary btn-lg btn-block"><i class="far fa-edit"></i>
              Aplicar cambios</button>
          </nb-card-footer>
        </form>
      </nb-card>
    </ng-template>
    <!-- Modal multiple -->
  </div>
 
