<div class="row">
    <div class="col-xxl-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nuevo Baseline</li>
                </ol>
            </nav>
    </div>
    <div class="col-xxl-12">
        <nb-card>
            <nb-card-header>
                Nuevo Baseline <a [nbPopover]="help"><i class="fas fa-info-circle"></i></a>
                <ng-template #help>
                    <span>Crea un nuevo Baseline a partir de un Template</span>
                </ng-template>
            </nb-card-header>

            <nb-card-body>
                <div class="col-xxl-3">
                   <h5><P>Seleccione Template</P></h5> 
                    <div class="input-group mb-3">
                        <select class="form-control" placeholder="Seleccione Template" id="inputGroupSelect01" [(ngModel)]="templates">
                            <!--<option [ngValue]="null">Seleccione Baseline</option> -->
                            <option *ngFor="let template of templateList" [ngValue]= "template">{{ template.baseline_name }}</option>
                        </select>
                    </div>                      
                </div>
                <div class="col-xxl-7">                   
                    <br><h5>Datos template seleccionado</h5>                                   
                    <div class="form-group"> 
                        <form *ngIf="form" [formGroup]="form">
                            <label class="form-control-label"><p>Vendor: {{ vendor }}</p></label><br>                                                                                                        
                            <label class="form-control-label"><p>Tecnología: {{ tech }}</p></label><br>
                            <label class="form-control-label"><p>Release: {{ release }}</p></label><br>
                            <label class="form-control-label"><p>Descripción: {{ description }}</p></label><br>
                            <label class="form-control-label"><p>Fecha Creación: {{ fCreation }}</p></label><br>
                                                                                
                            <br><h5>Datos Baseline</h5>                                                 
                            <label class="form-control-label">Nombre nuevo baseline&nbsp;</label>
                            <input type="text" formControlName="baselineName" class="form-control"><br>                                                                                                     
                            <nb-alert status="danger" class="tip" *ngIf="form.controls.baselineName.errors && 
                            (form.controls.baselineName.dirty || form.controls.baselineName.touched)">
                                <p>
                                    <span *ngIf="form.controls.baselineName.errors.minlength">El nombre debe tener una longitud de al menos 3 caracteres. </span>
                                    <span *ngIf="form.controls.baselineName.errors.maxlength">El nombre debe tener una longitud de máximo 255 caracteres. </span>
                                    <span *ngIf="form.controls.baselineName.errors.required">El nombre es requerido. </span>
                                </p>
                            </nb-alert>
                            <label class="form-control-label">Descripción&nbsp;</label>
                            <input type="text" formControlName="description" class="form-control"><br>
                            <nb-alert status="danger" class="tip" *ngIf="form.controls.description.errors && 
                            (form.controls.description.dirty || form.controls.description.touched)">
                                <p>
                                    <span *ngIf="form.controls.description.errors.minlength">La descripción debe tener una longitud de al menos 3 caracteres. </span>
                                    <span *ngIf="form.controls.description.errors.maxlength">La descripción debe tener una longitud de máximo 255 caracteres. </span>                                  
                                    <span *ngIf="form.controls.description.errors.required">La descripción es requerida. </span>
                                </p>
                            </nb-alert>
                        </form>
                    </div>
                </div>      
            </nb-card-body>

            <nb-card-footer>                
                    <button type="button" class="btn btn-danger" (click) = "createBaseline()">
                        Crear Nuevo Baseline 
                    </button> <!--routerLink="/pages/dashboard"-->
            </nb-card-footer>
        </nb-card>
    </div>
    <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->  
        <ng-template #confirmDialog let-data let-cdialog="dialogRef">
            <nb-card>
                <nb-card-header>Confirmación</nb-card-header>
                <nb-card-body class="text-center">
                    <p class="font-weight-bold">¿Está usted seguro de eliminar el conjunto de cambios {{ data.changeSet.name }}?</p>
                    <p>Recuerde que esta acción es irreversible.</p>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton class="btn btn-danger" (click)="cdialog.close();delete(data.changeSet.id);"><i class="far fa-trash-alt"></i>
                        Eliminar</button>
                    <button nbButton class="btn btn-success float-right" (click)="cdialog.close()"><i class="fas fa-times"></i>
                        Cancelar</button>
                </nb-card-footer>
            </nb-card>
        </ng-template>     

        <ng-template #infoDialog let-data let-idialog="dialogRef">
            <nb-card>
                <nb-card-header>Información</nb-card-header>
                <nb-card-body>
                <p>{{ data.message }}</p>
                </nb-card-body>
                <nb-card-footer>
                <button nbButton class="btn btn-success float-right" (click)="idialog.close()">Ok</button>
                </nb-card-footer>
            </nb-card>
        </ng-template>  

</div>

         
