// Change variables
$color-primary:#b5111a;

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

// General Elements Style
html, body{
  height: 100%;
}

a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.nb-theme-corporate nb-sidebar.menu-sidebar nb-menu > .menu-items > .menu-item:first-child .menu-title::after{
  content: none!important;
}

.font2rem{
  font-size: 2rem;
}

.nb-theme-corporate nb-layout .layout {
  background: #f3f3f3;
}

// Backgrounds for Login and recover Password
ngx-recoverpassword, ngx-login-page{
  background: url("/assets/images/bg.jpg") no-repeat top right;
  background-size: cover;
  display: block;
  height: 100%;
  overflow-y: scroll;
}

// Cards
.card-header img {
  max-width: 300px;;
}
nb-card-header .sub-title{
  font-size: .9rem;
  font-weight: normal;
}

// Entel colors
.entel-blue-bg {
  background:#b5111a;
}

.nb-theme-corporate .btn.btn-primary, .nb-theme-corporate .btn.btn-success, .nb-theme-corporate .btn.btn-success:hover {
  border: 1px solid;
}

.nb-theme-corporate .btn.btn-primary:hover, .nb-theme-corporate nb-menu .menu-item a:hover .menu-icon,
.nb-theme-corporate nb-menu .menu-item a:hover .chevron, .nb-theme-corporate nb-menu .menu-item a.active .menu-icon,
.nb-theme-corporate nb-menu .menu-item a.active .chevron, .nb-theme-corporate nb-user .user-picture.background,
.btn.btn-primary.liner {
  color: #FF3d00;
}

.nb-theme-corporate .btn.btn-success:hover, .nb-theme-corporate a {
  color: $color-primary;
}

.nb-theme-corporate .btn.btn-primary:hover, .nb-theme-corporate .btn.btn-primary, .nb-theme-corporate nb-context-menu,
.nb-theme-corporate nb-user .user-picture, .nb-theme-corporate a:hover, .nb-theme-corporate a:focus {
  border-color: #FF3d00;
}

.nb-theme-corporate nb-context-menu .arrow{
  border-bottom-color: #FF3d00;
}

.nb-theme-corporate .btn.btn-success:hover, .nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a.active{
  border-color:  $color-primary;
}

.nb-theme-corporate .btn.btn-primary, .nb-theme-corporate nb-menu.context-menu .menu-items .menu-item a:focus,
.nb-theme-corporate nb-menu.context-menu .menu-items .menu-item a:active,
.nb-theme-corporate nb-menu.context-menu .menu-items .menu-item a:hover, .nb-theme-corporate .btn.btn-primary:active,
.nb-theme-corporate .btn.btn-primary.active, .nb-theme-corporate .btn.btn-primary:active:focus, .nb-theme-corporate .btn.btn-primary:focus,
.nb-theme-corporate .btn.btn-primary.focus, .nb-theme-corporate input.custom-control-input[type='radio']:checked ~ .custom-control-label::after,
.flipcard-body .flip-button, .myChanges .reveal-button {
  background-color: #FF3d00;
}

.nb-theme-corporate nb-layout .layout nb-layout-header nav, .nb-theme-corporate .btn.btn-succes,
.nb-theme-corporate ng2-smart-table th.ng2-smart-actions-title-add a, .nb-theme-corporate .btn.btn-success,
.nb-theme-corporate nb-calendar-day-picker .day-cell:not(.disabled):not(.empty):hover,
.nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a.active, .bg-primary-er,
.nb-theme-corporate .btn.btn-success:active, .nb-theme-corporate .btn.btn-success.active,
.nb-theme-corporate .btn.btn-success:active:focus {
  background-color:$color-primary;
}

.btn-danger{
  background-color: #e30101 !important;
  border: 1px solid #e30101 !important;
}

.btn-danger:hover{
  background-color: #FFF !important;
  color: #e30101 !important;
}

.bg-primary-er {
  color: #FFF;
  padding: 5px;
  border-radius: 3px;
}

.nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a.active, .btn.btn-primary.liner:hover {
  color: #FFF;
}

.nb-theme-corporate .btn.btn-success:hover, .nb-theme-corporate .btn.btn-primary:hover,
.flipcard-body .flip-button:hover, .myChanges .reveal-button:hover, .btn.btn-primary.liner {
  background-color: #FFF;
}

.btn.btn-primary.liner:hover  {
  background-color: #FF3d00;
}

.nb-theme-corporate .input-group-addon:disabled, .nb-theme-corporate .form-control:disabled {
  background: #e3e9ee;
}

.font2rem .text-muted:hover {
  color:#5dcfe3 !important;
}

.nb-theme-corporate .text-danger {
  color: #e30101 !important;
}

.nb-theme-corporate .input-group-addon:focus, .nb-theme-corporate .form-control:focus{
  border: 2px solid #005cff73;
}

.pagination .page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}


// Alerts
.nb-theme-corporate {
  nb-alert.tip {
    display: block;
    position: absolute;
    z-index: 20;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #e30101;
    padding: 0;
    margin-top: -77px;
    p {
      display: block;
      padding: 8px 10px;
      background-color: #ffdede;
      border: 1px solid #FF0000;
      margin: 0;
    }
  }
  textarea + nb-alert.tip{
    margin-top: -125px;
    width: 322px;
  }
}

.nb-theme-corporate nb-alert.tip::before,
.nb-theme-corporate nb-alert.tip::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 84.5%;
  left: 5%;
}

.nb-theme-corporate nb-alert.tip::before {
  border-top: 10px solid #e30101;
  margin-top: 5px;
}

.nb-theme-corporate nb-alert.tip::after {
  border-top: 10px solid #ffdede;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: 4px;
  z-index: 1;
}

// Custom Checkbox
.nb-theme-corporate input.custom-control-input[type='radio']:checked ~ .custom-control-label::before,
.nb-theme-corporate input.custom-control-input[type='radio']:hover ~ .custom-control-label::before {
  border: 2px solid #ff3d00;
}

.nb-theme-corporate input.custom-control-input[type='radio']:checked ~ .custom-control-label::after {
  border: solid #FF3d00 0.35rem;
  top: calc(1.25rem * 0.55);
  left: calc(1.25rem * 0.22);
}

.form-check-inline{
  display: inline-block !important;
}

// Custom Radios
.radio,
.radios {
  input[type="radio"] {
    position:absolute;
    visibility: hidden;
    +.radio-icon {
      float: left;
      height: 1rem;
      width: 1rem;
      border: 2px solid #dadfe6;
      border-radius: 50%;
      margin-right: .4rem;
    }
    &:checked+.radio-icon {
      background-color: #ff3d00;
      border: 2px solid #ff3d00;
      -webkit-box-shadow: inset 0px 0px 0px 2px rgb(255,255,255);
      box-shadow: inset 0px 0px 0px 2px rgb(255,255,255);
    }
    &[disabled]+.radio-icon {
      border-color: #ff3d00;
    }
    &[disabled]:checked+.radio-icon {
      background-color: #ff3d00;
    }
    &:hover+.radio-icon {
      border-color: #ff3d00;
    }
  }
}

// Inputs
.nb-theme-corporate .input-group-addon, .nb-theme-corporate .form-control {
  padding: 0.75rem .5rem;
}

// Filters Select
.pb-c-12{
  padding-bottom: 12px;
}

// Chart
.echart{
  height: 230px;
}
.chartjs-render-monitor{
  height: 190px !important;
}

// Autocomplete
.nb-theme-corporate nb-card-body{
  overflow: inherit;
}

ngb-typeahead-window .dropdown-menu{
  width: 67%;
}

// Popover
nb-popover{
  padding: 10px;
}

// Toast
.nb-theme-corporate nb-toast {
  box-shadow: 0 0 10px #000;
  opacity: 1;
  &.success {
    border-color: $color-primary;
    color: $color-primary;
  }
  &.danger{
    border-color: #e30101;
    color: #e30101;
  }
  &.warning{
    border-color: #FF3d00;
    color: #FF3d00;
  }
  &:hover{
    opacity: .8;
  }
  .title{
    font-weight: 400 !important;
    text-transform: uppercase;
  }
}

nb-toastr-container {
  padding-top: 15px;
}

// Dialogs
.cdk-global-overlay-wrapper .cdk-overlay-pane{
  width: 360px;
  nb-dialog-container {
    width: 100%;
    form{
      display: grid;
    }
  }
}

// Flip Card
.flipcard-body .front-container, .flipcard-body .back-container{
  overflow: hidden;
  .flip-button {
    top: 0;
    bottom: auto!important;
    border: 2px solid #ff3d00;
    border-radius: 1.25rem;
    padding: 10px 20px;
    color: #FFF;
    margin: 10px;
    &:hover {
      color: #ff3d00;
    }
    .nb-arrow-dropleft::after {
      font-family: Exo;
    }
  }
  .btn-export{
    position: absolute;
    bottom: 30px;
    right: 10px;
    flex: 0 0 20%;
    max-width: 20%;
    font-size: .85rem;
  }
}

.flipcard-body {
  .front-container {
    .nb-arrow-dropleft::before {
      content: "\f1fe"!important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }
    .flip-button:hover .nb-arrow-dropleft::after {
      content: ' Ver gráfica histograma';
    }
  }
  .back-container {
    .nb-arrow-dropleft::before {
      content: "\f080"!important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }
    .flip-button:hover .nb-arrow-dropleft::after {
      content: ' Ver gráfica de barras';
    }
  }
}
.btnchart {
  margin-top: -50px!important;
  font-size: .85rem!important;
}
.fullH {
  height: 100%;
}
.padBottom {
  padding-bottom: 21px;
}
// Reveal Card MyChanges
.myChanges .reveal-button {
  top: 0;
  bottom: auto !important;
  border: 2px solid #ff3d00;
  border-radius: 1.25rem;
  padding: 10px 20px;
  color: #FFF !important;
  margin: 10px;
  transform: rotate(0deg) !important;
  &:hover {
    color: #ff3d00 !important;
  }
  .nb-arrow-dropdown::after {
    font-family: Exo;
  }
}
.myChanges {
  .nb-arrow-dropdown::before {
    content: "\f044" !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  .nb-arrow-dropdown::after {
    content: ' Editar Nombre y Descripción';
  }
  &.revealed {
    .nb-arrow-dropdown::before {
      content: "\f00d" !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }
    .nb-arrow-dropdown::after {
      content: ' Cerrar';
    }
    .second-card-container nb-card-back {
      top: 0;
      height: 100%;
      background: #e9ecefb3;
    }
  }
}

// Scroll table
.table-scroll table{
  overflow: scroll;
  overflow-y: scroll !important;
  max-height: 532px;
  display: block !important;
  table-layout: fixed;
  width: 100%;
  th, td{
    width: 40%;
  }
}
.nb-theme-corporate ng2-smart-table.changes-table table tr td{
  font-size: 13px;
  &:first-child{
    padding: 0 5px;
  }
}
.table-home {
  tr:first-child{
      th:first-child{
      border-bottom: 0;
      input {
        margin-top: 13px;
        position: absolute;
      }
    }
  }
  tr:nth-child(2){
    th:first-child{
      border-top: 0;
    }
  }
}
.f8{
  font-size: .8rem;
}

// NGX Pagination
.ngx-pagination li {
  display: inline-block;
  color: #181818;
  font-family: Exo;
  border-top: 1px solid #cdd5dc;
  border-bottom: 1px solid #cdd5dc;
  border-right: 1px solid #cdd5dc;
  &.current {
    padding: 0.75rem 1.25rem !important; 
    background-color: #73a1ff; 
  }
  &.disabled {
    padding: 0.75rem 1.25rem !important;  
    background-color: rgba(0, 0, 0, 0.05);
    color: #181818;
  }
  &.pagination-previous{
    border-left: 1px solid #cdd5dc;
    border-top-left-radius: 0.17rem;
    border-bottom-left-radius: 0.17rem;
  }
  &.pagination-next{
    border-top-right-radius: 0.17rem;
    border-bottom-right-radius: 0.17rem;
  }
  a, button{
    padding: 0;
    padding: 0.75rem 1.25rem !important;
    &:hover {
      background: none;
      color: #181818;
      background-color: rgba(0, 0, 0, 0.05);
      color: #181818;
    }
  }
}

// textarea
textarea{
  height: 88px;
}

// Spiner
nb-spinner.center-spinner .spin-circle{
  margin: 0 auto;
}

nb-spinner.notext-spinner .message {
  display: none;
}

@keyframes lds-eclipse {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes lds-eclipse {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

.lds-eclipse {
  position: relative;
  width: 20px !important;
  height: 20px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 15px;
    height: 15px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 0 0 #0056b3;
    box-shadow: 0 2px 0 0 #0056b3;
  }
  &.inline {
    display: inline-block;
      div{
        top: 7px;
        left: 7px;
      }
  }
}


// IE10 & IE11 CSS
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  ngx-login-page .row  {
    display: block;
  }
  .nb-theme-corporate nb-context-menu .arrow::after{
    border-bottom:0px;
  }
  .nb-theme-corporate .nb-overlay-bottom nb-menu .menu-items > :first-child.menu-item {
    border-top: 1px solid #cdd5dc;
    width: 140px;
  }
  .nb-theme-corporate nb-card{
    font-weight: 600;
  }
  .cdk-global-overlay-wrapper .cdk-overlay-pane nb-dialog-container form{
    padding: 20px;
    display:block;
    nb-alert.tip{
      display: -ms-inline-flexbox;
    }
  }
}


#download {
  display: none;
}

.table-home tr:first-child th:first-child input {
  z-index:3;
  margin-bottom: 10px;
}

#wrapper1 {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

#topScroll, #wrapper1 {
  height: 20px;
}