<div class="nb-theme-corporate">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center py-5">
            <div class="col-md-6 mx-auto my-5">
                <form (submit)="onSubmitPasswordReset()" [formGroup]="myform">
                    <div class="card bg-light">
                        <div class="card-header entel-blue-bg text-center py-5">
                            <img src="./assets/images/optytek-logo-white.png" alt="Optytek">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center mb-5">Recuperar Contraseña</h2>
                            <p class="sub-title">Para recuperar tu contraseña sigue los siguientes pasos:</p>
                            <p><b class="text-danger">El proceso puede tardar varios minutos</b></p>
                            <ol>
                                <li>Escribe tu email y presiona el botón para continuar.</li>
                                <li>Espera unos minutos y revisa tu inbox para rescatar tu nueva contraseña.</li>
                            </ol>
                            <div class="form-group">
                                <label class="form-control-label" for="email">Ingresa tu Correo Eléctronico:</label>
                                <input type="email" id="email" class="form-control" formControlName="email" placeholder="user@domain.com" (focus)="errorAlert.status = false">
                                <nb-alert status="danger" class="tip" *ngIf="myform.controls.email.errors && (myform.controls.email.dirty || myform.controls.email.touched || !submitted)">
                                    <p>
                                        <span *ngIf="myform.controls.email.errors.required">El email es requerido. </span>
                                        <span *ngIf="myform.controls.email.errors.pattern">Ingrese un email valido. </span>
                                    </p>
                                </nb-alert>
                                <nb-alert status="danger" *ngIf="errorAlert.status">
                                    <p>{{errorAlert.message}}</p>
                                </nb-alert>
        
                                <nb-alert status="success" *ngIf="successAuth.status">
                                    <p>{{successAuth.message}}</p>
                                </nb-alert>
                            </div>
                            <div class="form-group">
                                <button [disabled]="disableButton" type="submit" class="btn btn-primary my-3 btn-lg btn-block"><i class="fas fa-key"></i>
                                    Enviarme nueva contraseña.</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>