<div class="nb-theme-corporate">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center py-5">
            <div class="col-md-6 mx-auto my-5">
                <div class="card bg-light">
                    <div class="card-header entel-blue-bg text-center py-5">
                        <img src="./assets/images/optytek-logo-white.png" alt="Optytek">
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">Baseline</h2>
                        <p class="sub-title text-center">Bienvenido, inicia sesión con tu email y contraseña.</p>
                        <form (submit)="onSubmitLogin()" [formGroup]="myform">
                            <nb-alert status="danger" *ngIf="errorAlert.status">
                                <p>{{errorAlert.message}}</p>
                            </nb-alert>

                            <nb-alert status="success" *ngIf="successAuth.status">
                                <p>{{successAuth.message}}</p>
                            </nb-alert>
                            <div class="form-group">
                                <label for="email">Correo:</label>
                                <input type="email" name="email" formControlName="email" id="email" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="myform.controls.email.errors && (myform.controls.email.dirty || myform.controls.email.touched || !submitted)">
                                    <span>
                                        <p *ngIf="myform.controls.email.errors.required">El correo electrónico es requerido. </p>
                                        <p *ngIf="myform.controls.email.errors.pattern">Ingrese un correo electrónico valido. </p>
                                    </span>
                                </nb-alert>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" formControlName="password" name="password" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="myform.controls.password.errors && (myform.controls.password.dirty || myform.controls.password.touched || !submitted)">
                                    <span>
                                        <p *ngIf="myform.controls.password.errors.required">La contraseña es requerida. </p>
                                        <p *ngIf="myform.controls.password.errors.minlength">La contraseña debe tener al menos 6 caracteres. </p>
                                    </span>
                                </nb-alert>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                            </div>
                            <a href="/#/recuperar" class="text-secondary">¿Olvidaste tu contraseña?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>