<div class="row">
    <div class="col-xxl-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
            </ol>
        </nav>

        <nb-card>
            <nb-card-header>
                Usuarios <a [nbPopover]="help"><i class="fas fa-info-circle"></i></a> 
                <ng-template #help>
                    <span>Listado de usuarios existentes en el sistema.</span>
                </ng-template>
            </nb-card-header>
            <nb-card-body>
                <div class="table-responsive">
                    <ng2-smart-table
                        [settings]="settings"
                        [source]="usersDataSource"
                        (edit)="goToEditPage($event)"
                        (delete)="confirmDelete($event, confirmDialog)"
                    >
                    </ng2-smart-table>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <a class="btn btn-primary mb-3 mr-3"  routerLink="/pages/usuarios/crear">
                    <i class="fas fa-user-plus"></i> Crear nuevo usuario
                </a>
            </nb-card-footer>
        </nb-card>

    </div>
</div>

<ng-template #confirmDialog let-data let-cdialog="dialogRef">
    <nb-card>
        <nb-card-header>Confirmación</nb-card-header>
        <nb-card-body class="text-center">
            <p class="font-weight-bold">¿Está usted seguro de eliminar al usuario {{ data.user.name }} {{ data.user.last_name }}?</p>
            <p>Recuerde que esta acción es irreversible.</p>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton class="btn btn-danger" (click)="cdialog.close();delete(data.user.id);"><i class="far fa-trash-alt"></i> Eliminar</button>
            <button nbButton class="btn btn-success float-right" (click)="cdialog.close()"><i class="fas fa-times"></i> Cancelar</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #infoDialog let-data let-idialog="dialogRef">
    <nb-card>
        <nb-card-header>Información</nb-card-header>
        <nb-card-body>
            <p>{{ data.message }}</p>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton class="btn btn-success float-right" (click)="idialog.close()">Ok</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
