<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Baselines</li>
    </ol>
</nav>

<nb-card >
    <nb-card-header>
      Baselines <a [nbPopover]="help"><i class="fas fa-info-circle"></i></a>
      <ng-template #help>
        <span>Listado de todos los baselines guardados.</span>
      </ng-template>
      <div class="float-right">Total Registros: <strong>{{ this.totalRecords }}</strong></div>
    </nb-card-header>

    <nb-card-body class="table-responsive">
        <div id="wrapper1">
            <div id="topScroll"></div>
        </div>
        <div class="table-responsive table-home" id="wrapper2">
            <ng2-smart-table [settings]="settings" [source]="baselinesList" id="baselinesTable" 
            (editConfirm)="saveChanges($event, false)" (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
        </div>              
    </nb-card-body> 
    
    <nb-card-footer>        
    </nb-card-footer>   
</nb-card>