<div class="row">
  <div class="col-xxl-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/#/pages/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="/#/pages/perfil">Perfil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modificar Contraseña</li>
      </ol>
    </nav>
    <form (submit)="onSubmitPasswordChange()" [formGroup]="myform">
        <nb-card>
          <nb-card-header>Mi Perfil</nb-card-header>
          <nb-card-body>
            <h3 class="mb-5">Modificar Contraseña</h3>
            <div class="row">
              <div class="col-6 mb-3">
                  <nb-alert status="danger" *ngIf="errorAlert.status">
                      <p *ngIf="errorAlert.message">{{ errorAlert.message }}</p>
                      <p *ngFor="let msg of errors">{{ msg }}</p>
                  </nb-alert>
  
                  <nb-alert status="success" *ngIf="successAlert.status">
                      <p>{{successAlert.message}}</p>
                  </nb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-4 mb-3">
                <div class="form-group">
                  <label class="form-control-label">Contraseña Actual:</label>
                  <input type="password" class="form-control" formControlName="password" >
                  <nb-alert status="danger" class="tip" *ngIf="myform.controls.password.errors && (myform.controls.password.dirty || myform.controls.password.touched || !submitted)">
                    <p><span *ngIf="myform.controls.password.errors.required">Debe indicar su contraseña actual. </span></p>
                  </nb-alert>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="form-group">
                  <label class="form-control-label">Nueva Contraseña:</label>
                  <input type="password" class="form-control" formControlName="newpassword" >
                  <nb-alert status="danger" class="tip" *ngIf="myform.controls.newpassword.errors && (myform.controls.newpassword.dirty || myform.controls.newpassword.touched || !submitted)">
                    <p>
                      <span *ngIf="myform.controls.newpassword.errors.required">Debe indicar su nueva contraseña. </span>
                      <span *ngIf="myform.controls.newpassword.errors.minlength">Debe tener debe tener una longitud de al menos 6 caracteres. </span>
                      <span *ngIf="myform.controls.newpassword.errors.maxlength">Debe tener debe tener una longitud no mayor a 10 caracteres. </span>
                    </p>
                  </nb-alert>
                  <p>Debe tener 6-10 caracteres.</p>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="form-group">
                  <label class="form-control-label">Confirmar Nueva Contraseña:</label>
                  <input type="password" class="form-control" formControlName="repassword" >
                  <nb-alert status="danger" class="tip" *ngIf="myform.controls.repassword.errors && (myform.controls.repassword.dirty || myform.controls.repassword.touched || !submitted)">
                    <p>
                      <span *ngIf="myform.controls.repassword.errors.required">Debe indicar la confirmación de la contraseña. </span>
                      <span *ngIf="myform.controls.repassword.errors.minlength">Debe tener debe tener una longitud de al menos 6 caracteres. </span>
                      <span *ngIf="myform.controls.repassword.errors.maxlength">Debe tener debe tener una longitud no mayor a 10 caracteres. </span>
                    </p>
                  </nb-alert>
                </div>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <button type="submit" class="btn btn-primary mb-3"><i class="far fa-save"></i> Guardar Contraseña</button>
          </nb-card-footer>
        </nb-card>
      </form> 
  </div>
</div>