<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <img src="assets/images/optytek-logo.png" alt="Optytek">
    <div class="logo" (click)="goToHome()">Baseline </div>
   <!-- <div class="logo" (click)="goToHome()">Export <span>de RED</span></div> -->
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="my-context-menu" [name]="user?.name"></nb-user>
    </nb-action>
  </nb-actions>
</div>