<div class="row">
    <div class="col-xxl-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/pages/usuarios">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ this.mode === FormMode.Create ? "Crear" : "Editar" }} </li>
            </ol>
        </nav>
        <div class="col-6 mb-3">
          <nb-alert status="danger" *ngIf="loadErrorMessage">
            <p>{{ loadErrorMessage }}</p>
          </nb-alert>
        </div>
        <form *ngIf="form" (submit)="save()" [formGroup]="form">
            <nb-card>
                <nb-card-header>{{ this.mode === FormMode.Create ? "Crear" : "Editar" }} Usuario</nb-card-header>
                <nb-card-body>
                    <h3 class="mb-5">Datos de Usuario a {{ this.mode === FormMode.Create ? "Registrar" : "Editar" }}</h3>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Nombre</label>
                                <input type="text" formControlName="name" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.name.errors && (form.controls.name.dirty || form.controls.name.touched)">
                                    <p>
                                        <span *ngIf="form.controls.name.errors.minlength">El nombre debe tener una longitud de al menos 3 caracteres. </span>
                                        <span *ngIf="form.controls.name.errors.maxlength">El nombre debe tener una longitud de máximo 255 caracteres. </span>
                                        <span *ngIf="form.controls.name.errors.alphaspaces">El nombre solo debe contener letras y espacios. </span>
                                        <span *ngIf="form.controls.name.errors.required">El nombre es requerido. </span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Apellido</label>
                                <input type="text" formControlName="last_name" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.last_name.errors && (form.controls.last_name.dirty || form.controls.last_name.touched)">
                                    <p>
                                        <span *ngIf="form.controls.last_name.errors.minlength">El apellido debe tener una longitud de al menos 3 caracteres. </span>
                                        <span *ngIf="form.controls.last_name.errors.maxlength">El apellido debe tener una longitud de máximo 255 caracteres. </span>
                                        <span *ngIf="form.controls.last_name.errors.alphaspaces">El apellido solo debe contener letras y espacios. </span>
                                        <span *ngIf="form.controls.last_name.errors.required">El apellido es requerido. </span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">RUT</label>
                                <input type="text" class="form-control" name="rut" id="reactiveRut" placeholder="Ingresa el RUT" [formControl]="form.controls.rut" formatRut>
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.rut.errors && (form.controls.rut.dirty || form.controls.rut.touched)">
                                <p>
                                    <span *ngIf="form.controls.rut.errors && form.controls.rut.errors.required">El rut es requerido. </span>
                                    <span *ngIf="form.controls.rut.errors && form.controls.rut.errors.invalidRut">El formato del rut es invalido. </span>
                                </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Tipo de Perfil</label>
                                <select class="form-control" formControlName="type">
                                    <option [value]="UserType.User">Usuario</option>
                                    <option [value]="UserType.Admin">Administrador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Teléfono Fijo <span class="text-muted">(opcional)</span></label>
                                <input type="tel" formControlName="phone_number" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.phone_number.errors && (form.controls.phone_number.dirty || form.controls.phone_number.touched)">
                                    <p>
                                        <span *ngIf="form.controls.phone_number.errors.minlength">El teléfono de habitación debe tener una longitud de al menos 8 caracteres. </span>
                                        <span *ngIf="form.controls.phone_number.errors.phone">El teléfono de habitación no es válido. </span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Teléfono Móvil <span class="text-muted">(opcional)</span></label>
                                <input type="tel" formControlName="mobile_number" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.mobile_number.errors && (form.controls.mobile_number.dirty || form.controls.mobile_number.touched)">
                                    <p>
                                        <span *ngIf="form.controls.mobile_number.errors.minlength">El teléfono móvil debe tener una longitud de al menos 8 caracteres. </span>
                                        <span *ngIf="form.controls.mobile_number.errors.phone">El teléfono móvil no es válido. </span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Correo Electrónico</label>
                                <input type="email" formControlName="email" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
                                    <p>
                                        <span *ngIf="form.controls.email.errors.maxlength">El correo electrónico debe tener una longitud de máximo 255 caracteres. </span>
                                        <span *ngIf="form.controls.email.errors.email">El correo electrónico ingresado no es válido. </span>
                                        <span *ngIf="form.controls.email.errors.required">El correo electrónico es requerido. </span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Confirmar Correo Electrónico</label>
                                <input type="email" formControlName="confirmEmail" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="(form.controls.confirmEmail.errors || (form.errors && form.errors.matchemail)) && (form.controls.confirmEmail.dirty || form.controls.confirmEmail.touched)">
                                    <p *ngIf="form.controls.confirmEmail.errors">
                                        <span *ngIf="form.controls.confirmEmail.errors.maxlength">El correo electrónico de confirmación debe tener una longitud de máximo 255 caracteres. </span>
                                        <span *ngIf="form.controls.confirmEmail.errors.email">El correo electrónico de confirmación ingresado no es válido. </span>
                                        <span *ngIf="form.controls.confirmEmail.errors.required">El correo electrónico de confirmación es requerido. </span>
                                    </p>
                                    <p *ngIf="!form.controls.confirmEmail.errors && form.errors && form.errors.matchemail">
                                        <span>Las correos no coinciden</span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div *ngIf="this.mode === FormMode.Create" class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Contraseña</label>
                                <input type="password" formControlName="password" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched)">
                                    <p>
                                        <span *ngIf="form.controls.password.errors.minlength">La contraseña debe tener una longitud de al menos 6 caracteres. </span>
                                        <span *ngIf="form.controls.password.errors.maxlength">La contraseña debe tener una longitud de máximo 20 caracteres. </span>
                                        <span *ngIf="form.controls.password.errors.required">La contraseña es requerida. </span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                        <div *ngIf="this.mode === FormMode.Create" class="col-6 mb-3">
                            <div class="form-group">
                                <label class="form-control-label">Confirmar Contraseña</label>
                                <input type="password" formControlName="confirmPassword" class="form-control">
                                <nb-alert status="danger" class="tip" *ngIf="(form.controls.confirmPassword.errors || (form.errors && form.errors.matchpassword)) && (form.controls.confirmPassword.dirty || form.controls.confirmPassword.touched)">
                                    <p *ngIf="form.controls.confirmPassword.errors">
                                        <span *ngIf="form.controls.confirmPassword.errors.minlength">La contraseña de confirmación debe tener una longitud de al menos 6 caracteres. </span>
                                        <span *ngIf="form.controls.confirmPassword.errors.maxlength">La contraseña de confirmación debe tener una longitud de máximo 20 caracteres. </span>
                                        <span *ngIf="form.controls.confirmPassword.errors.required">La contraseña de confirmación es requerida. </span>
                                    </p>
                                    <p *ngIf="!form.controls.confirmPassword.errors && form.errors && form.errors.matchpassword">
                                        <span>Las contraseñas no coinciden</span>
                                    </p>
                                </nb-alert>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
                <nb-card-footer>
                    <button class="btn btn-primary mb-3">
                        <i class="fas fa-user-plus"></i> {{ this.mode === FormMode.Create ? "Crear nuevo usuario" : "Guardar cambios" }}
                    </button>
                </nb-card-footer>
            </nb-card>
        </form>
    </div>
</div>

<ng-template #successDialog let-ref="dialogRef">
    <nb-card class="text-center">
        <nb-card-header>
            Usuario {{ this.mode === FormMode.Create ? "creado" : "guardado" }} exitosamente
        </nb-card-header>
        <nb-card-footer>
            <a nbButton class="btn btn-primary my-3 mr-3" href="/#/pages/usuarios" (click)="ref.close()">
                <i class="fas fa-users"></i> Ir a la lista de usuarios
            </a>
        </nb-card-footer>
    </nb-card>
</ng-template>
