<div class="row">
  <div class="col-xxl-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/#/pages/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="/#/pages/perfil">Perfil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Actualizar Perfil</li>
      </ol>
    </nav>
    <form (submit)="onSubmitProfile()" [formGroup]="myform">
      <nb-card>
        <nb-card-header>
          Mi Perfil
        </nb-card-header>
        <nb-card-body>
          <h3 class="mb-5">Actualizar Perfil</h3>
          <div class="row">
            <div class="col-6 mb-3">
              <nb-alert status="danger" *ngIf="errorAlert.status">
                <p *ngFor="let msg of errorAlert.message">{{ msg }}</p>
              </nb-alert>

              <nb-alert status="success" *ngIf="successAlert.status">
                <p>{{successAlert.message}}</p>
              </nb-alert>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="name" class="form-control" value="Nick">
                <nb-alert status="danger" class="tip" *ngIf="myform.controls.name.errors && (myform.controls.name.dirty || myform.controls.name.touched || !submitted)">
                  <p>
                    <span *ngIf="myform.controls.name.errors.minlength">El nombre debe tener una longitud de al menos 3
                      caracteres</span>
                    <span *ngIf="myform.controls.name.errors.required">El nombre es requerido</span>
                  </p>
                </nb-alert>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="apellido">Apellido</label>
                <input type="text" id="apellido" class="form-control" formControlName="last_name" value="Jones">
                <nb-alert status="danger" class="tip" *ngIf="myform.controls.last_name.errors && (myform.controls.last_name.dirty || myform.controls.last_name.touched || !submitted)">
                  <p>
                    <span *ngIf="myform.controls.last_name.errors.minlength">El apellido debe tener una longitud de al menos
                        3 caracteres. </span>
                    <span *ngIf="myform.controls.last_name.errors.required">El apellido es requerido. </span>
                  </p>
                </nb-alert>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="telMovil">Teléfono Móvil</label>
                <input type="tel" id="telMovil" class="form-control" formControlName="mobile" value="123.45.67.89">
                <nb-alert status="danger" class="tip" *ngIf="myform.controls.mobile.errors && (myform.controls.mobile.dirty || myform.controls.mobile.touched || !submitted)">
                  <p>
                    <span *ngIf="myform.controls.mobile.errors.minlength">El número móvil debe tener una longitud de al menos 8 caracteres. </span>
                    <span *ngIf="myform.controls.mobile.errors.pattern">Ingrese solo números. </span>
                  </p>
                </nb-alert>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="telFijo">Teléfono Fijo</label>
                <input type="tel" id="telFijo" formControlName="phone" class="form-control" value="123.45.67.89">
                <nb-alert status="danger" class="tip" *ngIf="myform.controls.phone.errors && (myform.controls.phone.dirty || myform.controls.phone.touched || !submitted)">
                  <p>
                    <span *ngIf="myform.controls.phone.errors.minlength">El número móvil debe tener una longitud de al menos 8 caracteres. </span>
                    <span *ngIf="myform.controls.phone.errors.pattern">Ingrese solo números.</span>
                  </p>
                </nb-alert>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="correoActual">Correo Actual</label>
                <input type="email" id="correoActual" formControlName="email" class="form-control" value="user@domain.com">
                <nb-alert status="danger" class="tip" *ngIf="myform.controls.email.errors && (myform.controls.email.dirty || myform.controls.email.touched || !submitted)">
                  <p>
                    <span *ngIf="myform.controls.email.errors.required">El correo electrónico es requerido. </span>
                    <span *ngIf="myform.controls.email.errors.pattern">Ingrese un correo electrónico valido. </span>
                  </p>
                </nb-alert>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="disabledTextInput">Rut</label>
                <input type="text" class="form-control" name="rut" id="reactiveRut" placeholder="Ingresa el RUT" [formControl]="myform.controls.rut" formatRut>
                <nb-alert status="danger" class="tip" *ngIf="myform.controls.rut.errors && (myform.controls.rut.dirty || myform.controls.rut.touched || !submitted)">
                  <p>
                    <span *ngIf="myform.controls.rut.errors && myform.controls.rut.errors.required">El rut es requerido. </span>
                    <span *ngIf="myform.controls.rut.errors && myform.controls.rut.errors.invalidRut">El formato del rut es invalido. </span>
                  </p>
                </nb-alert>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="form-group">
                <label class="form-control-label" for="disabledTextInput">Perfil Actual</label>
                <input type="text" id="disabledTextInput" class="form-control" formControlName="profile">
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button type="submit" class="btn btn-primary mb-3"><i class="far fa-save"></i> Actualizar Perfil</button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>